#define SECRET_SSID "TUTAJ_WPROWADZ_NAZWE_SIECI_WIFI"
#define SECRET_PASSWORD "TUTAJ_WPROWADZ_HASLO_DO_WIFI"

#define SECRET_SUPABASE_URL "TUTAJ_WPROWADZ_URL_PROJEKTU_SUPABASE"
#define SECRET_SUPABASE_ANON_KEY "TUTAJ_WPROWADZ_KLUCZ_ANON_SUPABASE"